<p id="notice"><%= notice %></p>
<div class="container">
  <div class="template-container">
    <div class="row mb-3">
      <div class="col">
        <h1> Templates | <%= link_to "Checklists", checklists_path %></h1>
        <div class="col">
        </div>
      </div>
      <% @templates.each do |template| %>
        <div class="card-category">
          <p><%= link_to template do %>
              <%= template.name %>, <%= pluralize(template.template_items.count, 'action') %> </p>
          <% end %>
        </div>
      <% end %>
      <div class="d-flex justify-content-center mt-3">
        <%= link_to 'New Template', new_template_path, class: 'btn btn-primary' %>
      </div>
    </div>
  </div>
