<p id="notice"><%= notice %></p>
<div class="container">
  <div class="template-container">
    <div class="row mb-3">
      <div class="col-sm">
        <h1><%= @template.name %>
        </div>
        <% @template.template_items.each do |item|  %>
          <div class="card-category">
            <p><%= item.action %></p>
          </div>
        <% end %>
        <div class="button-container">
          <%= link_to 'Action', new_template_template_item_path(template_id: @template.id), class: 'btn btn-primary' %>
          <%= link_to 'Generate', new_template_checklist_path(template_id: @template.id), class: 'btn btn-success' %>
          <%= link_to 'Back', templates_path, class: 'btn btn-warning' %>
        </div>
      </div>
    </div>
