  <%= simple_form_for(@checklist) do |f| %>
  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>
  <div class="form-inputs">
    <%= f.association :template, as: :hidden %>
    <%= f.hidden_field :resolved_at %>
  </div>
  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
