<p id="notice"><%= notice %></p>
<div class="container">
  <div class="template-container">
    <div class="row mb-3">
      <div class="col">
        <h1> <%= link_to "Templates", templates_path %> | Checklists </h1>
        <div class="col">
        </div>
      </div>
      <% @checklists.each do |checklist| %>
        <div class="card-category">
          <p><%= link_to checklist do %>
              <%= checklist.name %>, <%= pluralize(checklist.checklist_items.count, 'action') %> </p>
          <% end %>
        </div>
      <% end %>
    </div>
  </div>
